.DS_Store
.bundle
vendor/bundle
log

# backend
/backend/.DS_Store
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep
/backend/storage/*
!/backend/storage/.keep
/backend/.byebug_history
/backend/config/master.key
/backend/public/uploads/tmp/
/backend/public/uploads_development/
/backend/.gitignore

# frontend
/frontend/.DS_Store
/frontend/node_modules
/frontend/dist
/frontend/.gitignore

# db
/db/db.env
